@import url("./globals.css");

/* Botões */
.primary_button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
}
.secundary_button{
    background-color: transparent;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-weight: 600;
}
.danger_button{

    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--color5);
    color: var(--color1);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}