/* Pages/Confectionery/Confectioneries.vue */
.container_search {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color2);
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
}
.container_show_confectioneries{

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Template de exibição das confeitarias - Pages/Confectionery/Confectioneries.vue*/
.container_confectionery {
  background-color: var(--color2);
  color: var(--color1);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: fit-content;
  max-width: 500px;

  padding: 10px 10px 15px 15px;
  transition: .4s;
  text-decoration: none;
}
.container_confectionery:hover{
  transform: scale(1.01);
}
.link_container{
  text-decoration: none;
}
.container_confectionery h2 {
  /* Evitar que o nome da empresa fique muito grande na exibição */
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;  
    
}
.container_confectionery div p {
  margin: 5px 0;
}
.menu-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
}
.menu-button {
  padding: 4px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #8d4c3c;
  transition: .3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--color2);
  margin-right: -2.5px;

}
.menu-button:hover, .menu-button:focus{
  background-color: var(--color3);
}
.dropdown {

  display: grid;
  z-index: 10;
  width: 70px;
  position: absolute;
}

.dropdown-content {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  margin-left: 60px;
  margin-top: 30px;
  border-radius: 10px;
  
}

.dropdown-content a,
.dropdown-content button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  background-color: white;
  display: block;
  width: 70px;

}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #f8f1ed;
}


/* Pages/Confectionery/RegisterConfectionery.vue */
.fadeOut {
  display: block;
}
.flex{
  display: flex
}
.fadeIn {
  display: none;
}

/* Pages/Confectionery/Confectionery.vue */
main {
  padding: 80px 20px;
  max-width: 1100px;
  margin: 40px auto;
}

.title {
  background-color: #f7bc99;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: #5d4037;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title h1 {
  margin: 0;
  font-size: 2.5rem;
}

.title p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.info_section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.info_card {
  background-color: #ffe5d0;
  padding: 25px 30px;
  border-left: 6px solid #f7bc99;
  border-radius: 10px;
  font-size: 18px;
}

.info_card strong {
  display: block;
  margin-bottom: 5px;
  color: #6d4c41;
  font-size: 20px;
}


